.cartas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor{
  display: flex;
  justify-content: center;
  height: 30px;

}
.select{
  margin-right: 50px;
  border-radius: 5px;
  border-width: 1px;
  border-color: aliceblue;
  background-color: rgb(195, 255, 31);
  font-size: 15px;
  font-weight: bold;
  color: rgb(75, 75, 75);
}